<section data-ng-controller="IndexController">
	<h1>This is the home view</h1>
	<br><br><br>
	<center>
		<a href="#!/product/create" class="btn btn-info" data-ng-show="global.user"><h1>Add Products</h1></a>
	</center>

</section>