<div ng-controller="ProductController">
    <div>
        <form class="form-horizontal" ng-submit="create(prodct, file)" enctype="multipart/form-data">
            <br>

            <div class="well well-large">
                <h1>Add Products</h1>
            </div>
            <div class="alert alert-danger" ng-show="error.hide">Upload Picture First</div>
            <div class="alert alert-danger" ng-show="upload.hide">Upload File Must be CSV</div>
            <div class="alert alert-danger" ng-show="size.hide">Upload File SIze less than 10 MB</div>
            <div class="form-group">
                <input type="hidden" class="controls" id="id" name="id" ng-model="prodct.id">
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">UPC</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="upc" name="upc" disabled ng-model="prodct.upc" class="form-control">
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Name</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="name" name="name" ng-model="prodct.name" class="form-control">
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Price</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="price" name="price" ng-model="prodct.price" class="form-control">
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Image</label>
                </div>
                <div class="col-md-6">
                    <input type="file" id="file" name="file" ngf-select ng-model="file">
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label" hidden></label>
                </div>
                <div class="col-md-6">
                    <input type="submit" value="Save" ng-hide="butn.hide" class="btn btn-primary controls">
                    <input type="button" class="btn btn-primary controls" ng-show="butn.hide" value="Update"
                           ng-click="updateProdct(prodct, file)">
                    <input type="button" class="btn btn-primary controls" value="Reset" ng-click="reset()">
                </div>

            </div>
        </form>
    </div>

    <br>
    <hr>
    <a ng-href="{{fileUrl}}" download="index.csv" class="btn btn-success pull-right"><span
            class="glyphicon glyphicon-download"> Export</span></a>
    <input type="file" id="files" name="files" ngf-select ng-model="files">
    <input type="button" class="btn btn-success" value="Import" ng-click="uploadFile(files)">
    <hr>
    <br><br><br>

    <div ng-init="find()">
        <div class="well well-large">
            <h1>All Products</h1>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>UPC</th>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
                <th>Events</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in products">
                <td>{{product.upc}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td><img ng-src="{{product.image}}" class="img-responsive" height="50px" width="50px"></td>
                <td>
                    <input type="button" class="btn btn-info" value="Edit" ng-click="editProdcts(product)">
                    <input type="button" class="btn btn-danger" value="Delete" ng-click="remove(product.id)">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>